[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysondb = "==1.6.7"
flask = "*"
flask-cors = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
