:root {
  --computer-font: "Inconsolata", monospace;
  --handwritten-font: "Architects Daughter", cursive;
  --text-color: white;
  --line-color: white;
  --background-color-dark: #407fb2;
  --background-color: #599ed0b9;
  --line-thick: 1.5px solid var(--line-color);
  --line-thin: 1px solid var(--line-color);
  background-color: var(--background-color-dark);
  background-size: 40px 40px;
  background-position: center top;
  background-image: linear-gradient(
      to right,
      rgb(143, 193, 247) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(143, 193, 247) 1px, transparent 1px);
  margin: 0px;
  padding: 0px;
  @import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inconsolata:wght@100&display=swap");
}
